.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.footer-group,
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-column {
    color: #bdbdbd;
}

