.header {
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #bdbdbd;
}
.header-contact {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.header-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
